# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.user
UnitTests/Makefile
UnitTests/Makefile.Debug
UnitTests/Makefile.Release
*.moc
build-UnitTests-Desktop_Qt_5_4_0_MinGW_32bit-Debug/Makefile
build-UnitTests-Desktop_Qt_5_4_0_MinGW_32bit-Debug/Makefile.Release
build-UnitTests-Desktop_Qt_5_4_0_MinGW_32bit-Debug/Makefile.Debug
build-AlkFejlHaziFeladat-Desktop_Qt_5_4_0_MinGW_32bit-Debug/
*.png
*.Debug
*.Release
Dokumentacio/
MainProject/debug/
Makefile
Libraries/debug/moc_TcpCommunication.cpp
Libraries/debug/moc_TcpSocketServer.cpp
Libraries/debug/moc_Simulator.cpp
Libraries/debug/moc_RobotState.cpp
Libraries/debug/moc_RobotCommand.cpp
UnitTests/debug/moc_Simulator.cpp
UnitTests/SimulatorTester.cpp.bF5200
